<h4> Add a new animal </h4>

<form action="/animals" method="post">
	Name:<input type="text" name="name"></input>
	Age:<input type="text" name="age"></input>
	<input type="submit" value="Submit" id="button"></input>
</form>